<div class="mb-4">
    <a href="#" class="link-box p-3 border-b font-weight-bold text-primary">
        <span class="link-box__title"><faker-name-jobTitle/></span>
    </a>
    <div class="bg-white p-3 border-b">
        <div class="icon-list">
            <div class="icon-list__row">
                <div class="icon-list__icon-col"><span class="icon icon-user"></span></div>
                <div class="icon-list__info-col">Pozice</div>
                <div class="icon-list__text-col">
                    <faker-name-jobTitle/>
                </div>
            </div>
            <div class="icon-list__row">
                <div class="icon-list__icon-col"><span class="icon icon-location"></span></div>
                <div class="icon-list__info-col">Místo pracoviště</div>
                <div class="icon-list__text-col">
                    <faker-address-streetAddress/>
                    ,
                    <faker-address-city/>
                </div>
            </div>
            <div class="icon-list__row">
                <div class="icon-list__icon-col"><span class="icon icon-calendar"></span></div>
                <div class="icon-list__info-col">Datum odpovědi</div>
                <div class="icon-list__text-col">{% include "randomDate.twig" with {hours: true} %}</div>
            </div>
        </div>
    </div>

    <div class="bg-white p-3">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-3 col-lg-3 mb-3 mb-sm-0">
                <button class="btn btn-secondary w-100"><svg class="svgicon svgicon--inline svgicon--small svgicon--textcolor" viewBox="0 0 20 20">
                    <polygon class="svgicon__path" points="17.8,3.2 16.8,2.2 9.9,9 3.2,2.2 2.2,3.2 8.9,10 2.2,16.7 3.2,17.6 9.9,11 16.7,17.8 17.6,16.8 10.9,10 "/>
                    </svg><span
                        class="hidden-sm-down  ml-2">Smazat</span></button>
            </div>
            <div class="col-6 col-sm-3 col-lg-3 mb-3 mb-sm-0">
                <a href="{{ linkAgentCreate }}" class="btn btn-secondary text-success w-100"><span
                        class="icon icon-star-fill"></span><span class="hidden-sm-down ml-2">Uložená</span></a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="{{ linkSavedOffers }}" class="btn btn-success w-100"><span class="icon icon-search mr-2"></span>Zobrazit</a>
            </div>
        </div>
    </div>
</div>
