<div class="button-group--four">
	<button class="button-group__btn btn btn-secondary">
		<span class="icon icon-cross"></span>
		<span class="button-group_btn-label">Smazat</span>
	</button>
	<button class="button-group__btn btn btn-secondary">
		<span class="icon icon-toggle-off"></span>
		<span class="button-group_btn-label">Ukončit inzerci</span>
	</button>
	<button class="button-group__btn btn btn-secondary">
		<span class="icon icon-edit"></span>
		<span class="button-group_btn-label">Ukončit inzerci</span>
	</button>
	<button class="button-group__btn btn btn-success">
		<span class="icon icon-search"></span>
		<span class="button-group_btn-label">Zobrazit</span>
	</button>
</div>