<div class="checkbox">
    <label class="checkbox__shadow-label" for="{{id}}"></label>
    <input class="checkbox__trigger" id="{{id}}" type="checkbox">
    <label class="checkbox__label" for="{{id}}">
    </label>
    <a class="checkbox__link" href="{{ linkBusinessConditions }}">
        Víze zde
    </a>
    <label class="checkbox__substitute" for="defaultCheck1">
        <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
        <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
        </svg>
    </label>
</div>