{% include "sectionTitle.twig" with {title: "Kontakt"} %}
<div class="bg-white p-3 border-b">
	<div class="row">
		<div class="col-md-4 mb-3 mb-md-0">
			<div class="font-weight-bold">Firma</div>
			<faker-company-companyName/><br>
			<faker-address-streetAddress/> <br>
			<faker-address-zipCode/>, <faker-address-city/> </br>
			<faker-address-country/>
		</div>
		<div class="col-md-4 mb-3 mb-md-0">
			<div class="font-weight-bold">Kontaktní osoba</div>
			<faker-name-firstName/> <faker-name-lastName/>
		</div>
		<div class="col-md-4">
			<div class="font-weight-bold">Telefon</div>
			<faker-phone-phoneNumber/>
		</div>
	</div>
</div>
