<a href="#" class="link-box link-box--disabled  card d-flex flex-column  flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-star"></span></div>
        <div>
            <strong>Uložené nabídky</strong>
            <p>Pro ukládání do oblíbených nabídek se přihlašte</p>
        </div>
    </div>

</a>


<a href="#" class="link-box link-box--disabled card d-flex flex-column  flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-agent-fill"></span></div>
        <div>
            <strong>ActiAgent</strong>
            <p>Pro ukládání do ActiAgentů nabídek se přihlašte</p>
        </div>
    </div>
</a>

<a href="#" class="link-box link-box--disabled d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-star"></span></div>
        <div class="align-self-center">
            <strong>Uložené nabídky</strong>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            0 nabídek
        </span>
    </div>
</a>







<a href="#" class="link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-clock-history"></span></div>
        <div>
            <strong>Poslední hledání</strong>
            <p class="text-gray-dark">Asistentka, Sekretářka, Plný úvazek, od 35 000 Kč</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            25 nabídek
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>

<a href="#" class="link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-star-fill"></span></div>
        <div class="align-self-center">
            <strong>Uložené nabídky</strong>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            10 nabídek
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>

<a href="/offers-2.html" class="agent link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-agent-fill"></span></div>
        <div>
            <strong>ActiAgent</strong>
            <p class="text-gray-dark">Sekretářka, od 30 000 Kč, Plný úvazek</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            15 nabídek
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>
<a href="/offers-2.html" class="agent link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-agent-fill"></span></div>
        <div>
            <strong>ActiAgent</strong>
            <p class="text-gray-dark">Řidič, od 30 000 Kč, Plný úvazek</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn link-box__btn--active">
            1 nová
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>

<a href="#" class="link-box link-box--disabled card d-flex flex-column  flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-agent-fill"></span></div>
        <div>
            <strong>ActiAgent</strong>
            <p>Pornoherec, Cirkusák, Plný úvazek, do 10 000 Kč</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            0 nabídek
        </span>
    </div>
</a>
