<a href="#" class="link-box link-box--disabled  card d-flex flex-column  flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3">
            <svg class="svgicon svgicon--large svgicon--grey" viewBox="0 0 20 20">
            <path class="svgicon__path" d="M12.207,6.915L10,2.5L7.792,6.915C7.715,7.068,7.57,7.175,7.4,7.205L1.979,8.108l3.562,3.563
                  c0.123,0.121,0.179,0.296,0.151,0.468L4.798,17.5l4.945-2.696C9.824,14.76,9.912,14.738,10,14.738s0.178,0.021,0.257,0.065
                  l4.945,2.696l-0.895-5.361c-0.027-0.171,0.027-0.347,0.15-0.468l3.563-3.563L12.6,7.205C12.43,7.177,12.285,7.068,12.207,6.915z"/>
            <path class="svgicon__path" d="M15.5,18.5c-0.082,0-0.164-0.02-0.238-0.061L10,15.57l-5.262,2.869c-0.168,0.092-0.372,0.078-0.528-0.032
                  c-0.155-0.111-0.235-0.302-0.203-0.49l0.958-5.746L1.146,8.354c-0.131-0.133-0.18-0.328-0.123-0.506
                  c0.058-0.179,0.209-0.311,0.395-0.342l5.749-0.958l2.386-4.772C9.639,1.607,9.811,1.5,10,1.5s0.363,0.107,0.447,0.276l2.386,4.772
                  l5.749,0.958c0.186,0.031,0.337,0.162,0.395,0.342c0.057,0.178,0.01,0.373-0.123,0.506l-3.818,3.817l0.958,5.746
                  c0.03,0.188-0.048,0.379-0.203,0.49C15.704,18.468,15.602,18.5,15.5,18.5z M10,14.5c0.082,0,0.165,0.02,0.238,0.061l4.6,2.508
                  l-0.831-4.986c-0.026-0.159,0.025-0.322,0.14-0.436l3.313-3.313l-5.042-0.84c-0.158-0.026-0.293-0.127-0.365-0.271L10,3.117
                  L7.947,7.223C7.875,7.366,7.74,7.466,7.582,7.493L2.54,8.333l3.313,3.313c0.113,0.113,0.166,0.275,0.14,0.436l-0.831,4.986
                  l4.6-2.508C9.836,14.52,9.918,14.5,10,14.5z"/>
            </svg>
        </div>
        <div>
            <strong>Oblíbené nabídky</strong>
            <p>Pro ukládání do oblíbených nabídek se přihlašte</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">0 nabídek</div>
</a>


<a href="#" class="link-box link-box--disabled card d-flex flex-column  flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-agent-fill"></span></div>
        <div>
            <strong>ActiAgent</strong>
            <p>Pro ukládání do ActiAgentů nabídek se přihlašte</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">0 nabídek</div>
</a>


<a href="#" class="link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-clock-history"></span></div>
        <div>
            <strong>Poslední hledání</strong>
            <p class="text-gray-dark">Asistentka, Sekretářka, Plný úvazek, od 35 000,- Kč</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            25 nabídek
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>

<a href="#" class="link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center mb-3 p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3">
            <svg class="svgicon svgicon--large" viewBox="0 0 20 20">
            <path class="svgicon__path" d="M12.207,6.915L10,2.5L7.792,6.915C7.715,7.068,7.57,7.175,7.4,7.205L1.979,8.108l3.562,3.563
                  c0.123,0.121,0.179,0.296,0.151,0.468L4.798,17.5l4.945-2.696C9.824,14.76,9.912,14.738,10,14.738s0.178,0.021,0.257,0.065
                  l4.945,2.696l-0.895-5.361c-0.027-0.171,0.027-0.347,0.15-0.468l3.563-3.563L12.6,7.205C12.43,7.177,12.285,7.068,12.207,6.915z"/>
            <path class="svgicon__path" d="M15.5,18.5c-0.082,0-0.164-0.02-0.238-0.061L10,15.57l-5.262,2.869c-0.168,0.092-0.372,0.078-0.528-0.032
                  c-0.155-0.111-0.235-0.302-0.203-0.49l0.958-5.746L1.146,8.354c-0.131-0.133-0.18-0.328-0.123-0.506
                  c0.058-0.179,0.209-0.311,0.395-0.342l5.749-0.958l2.386-4.772C9.639,1.607,9.811,1.5,10,1.5s0.363,0.107,0.447,0.276l2.386,4.772
                  l5.749,0.958c0.186,0.031,0.337,0.162,0.395,0.342c0.057,0.178,0.01,0.373-0.123,0.506l-3.818,3.817l0.958,5.746
                  c0.03,0.188-0.048,0.379-0.203,0.49C15.704,18.468,15.602,18.5,15.5,18.5z M10,14.5c0.082,0,0.165,0.02,0.238,0.061l4.6,2.508
                  l-0.831-4.986c-0.026-0.159,0.025-0.322,0.14-0.436l3.313-3.313l-5.042-0.84c-0.158-0.026-0.293-0.127-0.365-0.271L10,3.117
                  L7.947,7.223C7.875,7.366,7.74,7.466,7.582,7.493L2.54,8.333l3.313,3.313c0.113,0.113,0.166,0.275,0.14,0.436l-0.831,4.986
                  l4.6-2.508C9.836,14.52,9.918,14.5,10,14.5z"/>
            </svg>
        </div>
        <div class="align-self-center">
            <strong>Oblíbené nabídky</strong>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn">
            10 nabídek
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>

<a href="#" class="agent link-box d-flex flex-column card flex-lg-row justify-content-sm-between align-items-start align-items-lg-center p-3 border-b text-primary">
    <div class="d-flex">
        <div class="display-5 mr-3"><span class="icon icon-agent-fill"></span></div>
        <div>
            <strong>ActiAgent</strong>
            <p class="text-gray-dark">Pro ukládání do ActiAgentů nabídek se přihlašte</p>
        </div>
    </div>
    <div class="align-self-end align-self-lg-auto no-wrap ml-5">
        <span class="link-box__btn link-box__btn--active">
            1 nová
            <svg class="svgicon svgicon--textcolor svgicon--small svgicon--inline ml-1" viewBox="0 0 20 20">
            <polygon class="svgicon__path" points="4.959,1.583 5.791,0.75 15.041,10 5.793,19.25 4.96,18.417 13.376,10"/>
            </svg>
        </span>
    </div>
</a>
