<div class="section section--bg-decorative section--border-bottom py-3 py-sm-5 mt-3 mb-4 mb-sm-0">
    <div class="container">
        <div class="hidden-xs-down">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <label class="form-label">Hledaná práce</label>
                    {% include "autocompleteInput.twig" with {type:"tag",id:"taginput1", plain: true, inWindow: false, placeholder: "+ Doprava, obchod, kuchař...", dataset: "names.json"} %}
                </div>
                <div class="col-lg-6">
                    <label class="form-label">Kde hledám práci</label>
                    <div class="input-group job-search mb-3">
                        <select class="form-control" data-selectric-flags>
                            <option data-ico="cz" data-placeholder="ČR">Česká republika</option>
                            <option data-ico="sk" data-placeholder="SK">Slovensko</option>
                        </select>
                        {% include "autocompleteInput.twig" with {type:"search",id:"taginput11", plain: true, inWindow: false, placeholder: "Obec, město, kraj...", dataset: "names.json"} %}
                    </div>
                </div>
            </div>
            <div class="collapse no-transition  py-2 py-sm-4" id="searchBoxShowMore">
                <div class="row">
                    {% set extendedFilter = [
						"Pracovní poměr",
						"Plat",
						"Vzdělání",
						"Vhodné pro",
						"Stáří inzerátu",
						"Zadavetel nabídky",
					] %}


                    {% for i in extendedFilter %}
                        <div class="col-md-6 col-lg-4  mb-3">
                            <label class="form-label">{{ i }}</label>
                            <select class="form-control" data-selectric id="exampleFormControlSelect1">
                                <option>
                                <faker-lorem-words/>
                                </option>
                                <option>
                                <faker-lorem-words/>
                                </option>
                                <option>
                                <faker-lorem-words/>
                                </option>
                                <option>
                                <faker-lorem-words/>
                                </option>
                                <option>
                                <faker-lorem-words/>
                                </option>
                            </select>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-center mt-2 mt-sm-4">
                <button class="btn btn-link btn-collapse-toggle text-primary" type="button" data-toggle="collapse"
                        data-target="#searchBoxShowMore" aria-expanded="false" aria-controls="searchBoxShowMore">
                    <svg class="svgicon svgicon--inline svgicon--textcolor svgicon--small mr-2" viewBox="0 0 20 20" >
                    <polygon class="svgicon__path" points="14.7,10.6 10.5,16.1 10.5,1.6 9.5,1.6 9.5,16.1 5.3,10.6 4.5,11.2 10,18.4 15.5,11.2"/>
                    </svg>
                    Rozšířené hledání
                    <svg class="svgicon svgicon--inline svgicon--textcolor svgicon--small ml-2" viewBox="0 0 20 20" >
                    <polygon class="svgicon__path" points="14.7,10.6 10.5,16.1 10.5,1.6 9.5,1.6 9.5,16.1 5.3,10.6 4.5,11.2 10,18.4 15.5,11.2"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="hidden-sm-up">
            <div class="text-center">
                <p class="font-weight-bold">Vyberte si z 23443 nabídek práce</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-bottom" data-toggle="modal" data-target="#search">
                    <span class="icon icon-search mr-2"></span>
                    Hledat práce
                </button>
            </div>


        </div>

    </div>
</div>

<!-- Modal --> 
<div class="modal modal--fullscreen modal--fixed-header modal--fixed-footer" id="search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hledat</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
            <svg class="svgicon svgicon--circle-close" viewBox="0 0 20 20">
            <path class="svgicon__path" d="M10,0.3c-5.4,0-9.8,4.4-9.8,9.8s4.4,9.8,9.8,9.8c5.4,0,9.8-4.4,9.8-9.8S15.4,0.3,10,0.3z M14.243,12.828
                  c0.391,0.391,0.391,1.023,0,1.414s-1.023,0.391-1.414,0L10,11.414l-2.829,2.828c-0.391,0.391-1.023,0.391-1.414,0
                  s-0.391-1.023,0-1.414L8.586,10L5.757,7.171c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,8.586l2.829-2.829
                  c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L11.414,10L14.243,12.828z"></path>
            </svg>
        </button>
    </div>
    <div class="modal-custom-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12 p-0 mb-3">
                    <label class="form-label">Hledaná práce</label>
                    {% include "autocompleteInput.twig" with {type:"tag",id:"taginput111", plain: true, inWindow: true, placeholder: "Doprava, obchod, kuchař..", dataset: "names.json"} %}
                </div>
                <div class="col-12 p-0  mb-3">
                    <label class="form-label">Kde hledám práci</label>
                    <div class="col-12 p-0"> 
                        <select class="form-control" data-selectric id="exampleFormControlSelect1">
                            <option>
                                Česká republika
                            </option>
                            <option>
                                Slovenská republika
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3"> 
                    {% include "autocompleteInput.twig" with {type:"search",id:"autocomplete1", plain: true, inWindow: true, name: "Kde hledám práci", placeholder: "Obec, Město, Kraj", dataset: "names.json"} %}
                </div>
                {% for i in extendedFilter %}
                    <div class="col-12 mb-3 p-0">
                        <label class="form-label">{{ i }}</label>
                        <select class="form-control" data-selectric id="exampleFormControlSelect1">
                            <option>
                            <faker-lorem-words/>
                            </option>
                            <option>
                            <faker-lorem-words/>
                            </option>
                            <option>
                            <faker-lorem-words/>
                            </option>
                            <option>
                            <faker-lorem-words/>
                            </option>
                            <option>
                            <faker-lorem-words/>
                            </option>
                        </select>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a href="offers-2.html" class="btn btn-success w-100">
            <span class="icon icon-search mr-2"></span>
            <span class="hidden-sm-down ml-2">Zobrazit</span>150 nabídek
        </a>
    </div>
</div>

<div class="hidden-xs-down">
    <div class="section bg-light text-center py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3 col-lg-2">
                    <a href="#" class="btn btn-info w-100">
                        <span class="icon icon-agent-fill"></span>
                        <span class="hidden-sm-down ml-2">ActiAgent</span>
                    </a>
                </div>
                <div class="col-9 col-lg-4">
                    <a href="offers-2.html" class="btn btn-success w-100">
                        <span class="icon icon-search mr-2"></span>
                        <span class="hidden-sm-down ml-2">Zobrazit</span> 150 nabídek
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
