<div class="{% if className is defined %}{{ className }} {% endif %}country-select form-group">
	<label class="form-label">Stát*</label>
	<select class="custom-select" required>
		<option value="1"><span class="flag-icon flag-icon-cz"></span>&nbsp; Česká Republika</option>
		<option value="1"><span class="flag-icon flag-icon-sk"></span>&nbsp; Slovenská Republika</option>
	</select>
</div>