// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {

}

.header__top{
    height: 4rem;
}

.header__logo{
    width: 8rem;
    @media (min-width: 23.4375em) {
        width: 10rem;
    }
}
