.section {

    &__title {
        margin-bottom: 0;
    }

    &--bg-decorative {
        background-image: url(../images/pikto.png);
    }

    &--border-bottom {
        @include media-breakpoint-up(sm) {
            border-bottom: 1px solid $brand-success;
        }
    }
    &--border-bottom-always {
        border-bottom: 1px solid $brand-success;
    }
}

