$choices-inner-space: 5px;
$choices-tag-height: 26px;
$choices-border-color: #c9cbcb;
$choices-border-color-active: $brand-success;

.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
    &:focus{
        outline: none;
    }
    &:last-child{
        margin-bottom: 0;
    }

    @at-root .autocomplete--fullscreen &{
        display: flex;
        padding: 0 1rem 1rem 1rem;
        flex-direction: column;
        flex-grow: 1;
    }
}

.choices__inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    padding: $choices-inner-space 0px 0px $choices-inner-space;
    border: 1px solid $choices-border-color;
    font-size: 0px;
    overflow: hidden;

    @at-root .is-focused &{
        border-color: $brand-success;
    } 

    @at-root .is-open &{
        border-color: $brand-success;
    } 

    @at-root .choices[data-type*=select-one] &{

    }

    @at-root .choices[data-type*=select-multiple] &{
        /*padding-bottom: 7.5px;*/
    }
    @at-root .choices[data-type*=text] &{
        cursor: text;
    }

    @at-root .choices.is-disabled &{
        background-color: #eaeaea;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }



}

.choices__input{
    display: inline-block;
    background-color: transparent;
    /*background-color: red;*/
    line-height: 1;
    font-size: 16px; 
    flex-grow: 1;
    min-width: 100px;
    width: auto !important;
    flex-basis: 100px;
    margin-bottom: $choices-inner-space;
    margin-right: $choices-inner-space;
    height: $choices-tag-height;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 5px 0 5px 2px;

    &::placeholder{
        color: #bfbfbf;
    }
    &:focus {
        outline: 0;
    }
    &.is-hidden{
        display: none;
    }
    @at-root [dir=rtl] &{
        padding-right: 2px;
        padding-left: 0;
    }

    @at-root .choices.is-disabled &{
        background-color: #eaeaea;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    @at-root choices[data-type*=select-one] &{
        display: block;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        margin: 0;
    }
}

.choices__button{
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:focus{
        outline: none;
    }

    @at-root .choices[data-type*=select-multiple] &{
        position: relative;
        padding: 0;
        display: inline-block;
        margin-left: $choices-inner-space;
        width: 20px;
        line-height: 1;
        border-radius: 0;
        &:focus,&:hover{
            opacity: 1;
        }
    }

    @at-root .choices[data-type*=text] &{
        position: relative;
        padding: 0;
        display: inline-block;
        width: 20px;
        line-height: 1;
        border-radius: 0;
        &:focus,&:hover{
            opacity: 1;
        }
    }

    @at-root .choices[data-type*=select-one] &{
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
        padding: 0;
        background-size: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -10px;
        margin-right: 25px;
        height: 20px;
        width: 20px;
        border-radius: 10em;
        opacity: .5;
        &:focus,&:hover{
            opacity: 1;
        }
        &:focus{
            box-shadow: 0 0 0 2px #00bcd4;
        }
    }

    @at-root .choices[data-type*=select-one][dir=rtl] &{
        right: auto;
        left: 0;
        margin-left: 25px;
        margin-right: 0;
    }


}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    &--single{
        display: none; 
    }
    &--multiple{
        display: inline;
    }

}

.choices__text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2;
}


.choices__list--single .choices__item {
    width: 100%;
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaa;
    border: 1px solid #919191;
}

.choices__list--dropdown {
    display: none;
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid $choices-border-color-active;
    top: 100%;
    margin-top: -1px;
    overflow: hidden;
    word-break: break-all;
    &.is-active{
        display: block;
    }

    @at-root .is-flipped &{
        top: auto;
        bottom: 100%;
        margin-top: 0;
        margin-bottom: -1px;
    }
    @at-root .autocomplete--fullscreen &{
        position: relative;
        flex-grow: 1;
        margin-top: 0;
        align-items: stretch;
        border: none;
        top: 0;
    }
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;

    @at-root .autocomplete--fullscreen &{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: none;
    }
}

[dir=rtl] .choices__list--dropdown .choices__item {
    text-align: right;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right:100px;
    }

    .choices__list--dropdown .choices__item--selectable:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable:after {
        right: auto;
        left: 10px;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f3f3f3;
}

.new-result{
    background-color: red;
    &:hover{
        background-color: #f2f2f2;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: .5
}



.choices__item {
    cursor: default;

    @at-root [data-type="select-one"] .choices__inner > &{
        /*display: none;*/
    }

    @at-root .choices__inner > &{
        display: none;
        cursor: default;
        display: inline-flex;
        align-items: center;
        line-height: 1;
        height: $choices-tag-height;
        padding: 0 $choices-inner-space 0 $choices-inner-space * 2;
        font-size: 0.875rem;
        font-weight: 500;
        max-width: calc(50% - #{$choices-inner-space});
        margin-right: $choices-inner-space;
        margin-bottom: $choices-inner-space;
        background-color: $brand-background;
        border: 1px solid $brand-primary-light;
        color: #464a4c;
        word-break: break-all;
    }

    &--selectable{
        cursor: pointer;
    }
    &--disabled{
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: .5;
    }

    @at-root .choices__list--multiple &{
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        padding: 4px 6px;
        font-size: 14px;
        font-weight: 500;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $brand-background;
        color: $brand-text;
        word-break: break-all;


    }
    @at-root .choices__list--dropdown &{
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 0.625rem;
        line-height: 1.25;
        &:not(:last-child){
            border-bottom: 1px solid #eceeef;
        }
    }
}

.choices__item__ico{
    margin-right: 0.625rem;
}

.choices__item__content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.choices__item__label{
    width: 100%;
}

.choices__item__description{
    width: 100%;
    font-size: 0.9em;
    color: #9e9e9e;
}

.choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray;
}

.choices__button {

}

.choices__placeholder {
    opacity: .5 ;
}
