.form-label {
    font-weight: $font-weight-bold;
}

.form-control::placeholder{
    color: #bfbfbf;
}

.form-check-input {
    margin-left: 0;
}

.form-check {
    padding-left: 1rem;

    .invalid-feedback {
        margin-left: -1rem;
    }
}

.form-check-label {
    padding-left: 2rem;
}

.is-invalid {
    .form-label,

    .form-control,
    input {
        border-color: #FD9294;
    }
}

.is-valid {
    .form-label,
    label {
        color: $green;
    }

    .form-control,
    input {
        border-color: $green;
        color: $green;
    }
}

.invalid-feedback {
    display: flex;
    align-items: center;
    background: #FCC1C2;
    font-size: .8em;
    padding: .25em .25em .25em .5em;
    margin-top: .5rem;

    &:before {
        content: $icon-warning-circle-fill;
        font-family: '#{$icomoon-font-family}' !important;
        margin-right: 0.4em;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.custom-radio {

    &__wrapper {
        cursor: pointer;

        &:hover {
            .custom-radio__indicator,
            .form-check-label {
                color: $brand-success;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: .1;
            }


        }

        &--checked {
            .custom-radio__indicator {
                color: $brand-success;
            }
        }
    }
}


.input-group-center {
    border-left: none;
    border-right: none;
}
.input-group-column {
    flex-direction: column;
}
