.search-box {

    &__btn-container {
        text-overflow: ellipsis;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        @include media-breakpoint-up(lg) {
            white-space: normal;
        }

        &::-webkit-scrollbar {
            display: none;
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
    }
}

.search-box__tag{
    font-weight: bold;
}

.search-box__tag__button{
    position: relative;
    padding: 0;
    display: inline-block;
    line-height: 1;
    border-radius: 0;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
