$choices-inner-space: 5px;
$choices-tag-height: 26px;
$choices-border-color: #c9cbcb;
$choices-border-color-active: $brand-success;


.search-box {

    &__btn-container {
        text-overflow: ellipsis;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        @include media-breakpoint-up(lg) {
            white-space: normal;
        }

        &::-webkit-scrollbar {
            display: none;
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
    }
}

.search-box__tag{
    cursor: default;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    height: $choices-tag-height;
    padding: 0 $choices-inner-space * 2 0 $choices-inner-space * 2;
    font-size: 0.875rem;
    font-weight: 500;
    max-width: calc(50% - #{$choices-inner-space});
    margin-right: $choices-inner-space;
    margin-bottom: $choices-inner-space;
    background-color: $brand-background;
    border: 1px solid $brand-primary-light;
    color: #464a4c;
    word-break: break-all;
}

.search-box__tag__button{
    position: relative;
    padding: 0;
    display: inline-block;
    line-height: 1;
    border-radius: 0;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
