.svgicon{
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    pointer-events: none;
    @at-root .choices__item__ico &{
        width: 1rem;
        height: 1rem;
    }

    &--inline{
        display: inline-block;
        vertical-align: sub;
        margin-right: 0.5em;
    }

    &--absolute{
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    &--menu{
        margin-right: 0.2em;
    }
}

.svgicon__path{
    fill: $brand-success;

    @at-root .choices__item__ico &{
        fill: $brand-text;
    }




    @at-root .link-box__svg &{
        &:not(.svgicon__path--transparent){
            fill: #cccccc;
        }
    }

    @at-root .link-box__startrigger:checked + .link-box__star &{
        fill: $brand-success;
        &--transparent{
            fill: $brand-success;
        }
    }

    @at-root .link-box__star:hover &{
        fill: $brand-success;
        &--transparent{
            fill: transparent;
        }
    }

}


.svgicon__path--transparent{
    fill: transparent;
}



