.svgicon{
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    pointer-events: none;

    &--grey{

    }

    &--flip-v{
        transform: rotateX(180deg);
    }

    &--small{
        width: 1rem;
        height: 1rem;
    }

    &--large{
        width: 2rem;
        height: 2rem;
    }

    &--inline{
        display: inline-block;
        vertical-align: sub;
    }

    &--absolute{
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.svgicon__path{
    fill: $brand-success;


    @at-root .link-box &:not(.svgicon__path--transparent){
        fill: #22528E;
    }
    @at-root .link-box--disabled &:not(.svgicon__path--transparent){
        fill: #9e9e9e;
    }
    @at-root .svgicon--textcolor &:not(.svgicon__path--transparent){
        fill: currentColor;
    }

    @at-root .link-box__svg &{
        &:not(.svgicon__path--transparent){
            fill: #cccccc;
        }
    }

    @at-root .link-box__startrigger:checked + .link-box__star &{
        fill: $brand-success;
        &--transparent{
            fill: $brand-success;
        }
    }

    @at-root .link-box__star:hover &{
        fill: $brand-success;
        &--transparent{
            fill: transparent;
        }
    }

    &--transparent{
        fill: transparent;
    }

}

.svgicon--hamburger{
    margin-right: 0.2em;

    .svgicon__path{
        fill:red;
    }
}

.menu__extra-button:not(.menu__extra-button--disabled){
    .svgicon__path--transparent{
        fill: currentColor !important;
    }



}



