<header class="header">
	<div class="bg-white">
		<div class="container d-flex  justify-content-between align-items-center">
			<a href="{{ linkHomepage }}" class="header__logo d-block">
				<img src="./public/svg/images/logo.svg" 
				     alt="Logo">
			</a>
			<div class="d-flex  justify-content-between">
				<div class="btn-group">
					{% if notLogged %}
						<a class="btn-circle__wrapper btn btn-link btn-sm dropdown-toggle text-primary" href="http://example.com"
						   id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="btn-circle"><span class="btn-circle__icon icon icon-login mr-2"></span></span>
							<span class="btn-circle__label">Přihlásit</span>
						</a>
					{% else %}
						<a class="btn-circle__wrapper btn btn-link btn-sm dropdown-toggle text-primary" href="http://example.com"
						   id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="btn-circle"><span class="btn-circle__icon icon icon-user mr-2"></span></span>
							<span class="btn-circle__label">someUsername</span>
						</a>
					{% endif %}

					<div class="dropdown-menu dropdown-menu-right  dropdown-menu--arrow" aria-labelledby="dropdown09">
						<a class="dropdown-item" href="{{ linkAccount }}"><span class="icon icon-user mr-3"></span>Můj účet</a>
						<a class="dropdown-item" href="{{ linkHomepage }}"><span class="icon icon-login mr-3"></span>Odhlásit</a>
					</div>
				</div>
				{% if back %}
					<a class="btn-circle__wrapper btn btn-link btn-sm d-inline-flex{% if lite %} disabled{% endif %}" href="http://example.com"{% if lite %} disabled{% endif %}>
						<span class="btn-circle"><span class="btn-circle__icon icon icon-diamond mr-2"></span></span>
						<span class="btn-circle__label">10 234 233</span>
					</a>
				{% endif %}
				<div class="btn-group">
					<a class="btn-circle__wrapper pr-0 btn btn-link btn-sm dropdown-toggle text-primary" href="http://example.com" id="dropdown09"
					   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="btn-circle"><span class="btn-circle__icon flag-icon flag-icon-cz mr-2"></span></span>
						<span class="btn-circle__label">Čěština</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu--arrow" aria-labelledby="dropdown09">
						<a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr mr-2"></span>French</a>
						<a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-it mr-2"></span>Italian</a>
						<a class="dropdown-item" href="#ru"><span class="flag-icon flag-icon-ru mr-2"></span>Russian</a>
					</div>
				</div>
			</div>
		</div>
		{% if not lite %}
			{% include "../components/menu.twig" with {back: back, savedOffers: savedOffers} %}
		{% endif %}
	</div>
</header>
