<header class="header">
    <div class="bg-white">
        <div class="header__top container d-flex  justify-content-between align-items-center">
            <a href="{{ linkHomepage }}" class="header__logo d-block">
                <img src="./public/svg/images/logo.svg" 
                     alt="Logo">
            </a>
            <div class="d-flex  justify-content-between">
                <div class="btn-group">
                    {% if notLogged %}
                        <a class="btn-circle__wrapper btn btn-link btn-sm text-primary" href="./login.html">
                            <span class="btn-circle">
                                <object class="svgicon svgicon--absolute" data="./public/svg/icons/log-in.svg"></object>
                            </span>
                            <span class="btn-circle__label">Přihlásit</span>
                        </a>
                    {% else %}
                        <a class="btn-circle__wrapper btn btn-link btn-sm dropdown-toggle text-primary" href="http://example.com"
                           id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="btn-circle p-0">
                                <object class="svgicon svgicon--absolute" data="./public/svg/icons/logged-in.svg"></object>
                            </span>
                            <span class="btn-circle__label">someUsername</span>
                        </a>
                    {% endif %}

                    <div class="dropdown-menu dropdown-menu-right  dropdown-menu--arrow" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="{{ linkAccount }}"><object class="svgicon svgicon--inline mr-2" data="./public/svg/icons/grey/logged-in.svg"></object>Můj účet</a>
                        <a class="dropdown-item" href="{{ linkHomepage }}"><object class="svgicon svgicon--inline mr-2" data="./public/svg/icons/grey/log-in.svg"></object>Odhlásit</a>
                    </div>
                </div>
                {% if back %}
                    <a class="btn-circle__wrapper btn btn-link btn-sm d-inline-flex{% if lite %} disabled{% endif %}" href="./back-pocket.html"{% if lite %} disabled{% endif %}>
                        <span class="btn-circle p-0">
                            <object class="svgicon svgicon--absolute" data="./public/svg/icons/actibons-wallet.svg"></object>
                        </span>
                        <span class="btn-circle__label">10 234 233</span>
                    </a>
                {% endif %}
                <div class="btn-group">
                    <a class="btn-circle__wrapper pr-0 btn btn-link btn-sm dropdown-toggle text-primary" href="http://example.com" id="dropdown09"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="btn-circle">
                            <object class="svgicon svgicon--absolute" data="./public/svg/flags/cz.svg"></object>
                        </span>
                        <span class="btn-circle__label">Čěština</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu--arrow" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="#fr"><object class="svgicon svgicon--inline mr-2" data="./public/svg/flags/sk.svg"></object>Slovenčina</a>
                        <a class="dropdown-item" href="#it"><object class="svgicon svgicon--inline mr-2" data="./public/svg/flags/gb.svg"></object>English</a>
                        <a class="dropdown-item" href="#ru"><object class="svgicon svgicon--inline mr-2" data="./public/svg/flags/de.svg"></object>Deutsch</a>
                    </div>
                </div>
            </div>
        </div>
        {% if not lite %}
            {% include "../components/menu.twig" with {back: back, savedOffers: savedOffers} %}
        {% endif %}
    </div>
</header>
