<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.twig" %}
        <title>{% block title %}{% endblock %} - ActiJobs</title>
    </head>
    <body>
        <div class="site">
            {% include "header.twig" %}
            <div class="site__content">
            {% block body %}{% endblock %}
        </div>
        {% include "footer.twig" %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="public/js/plugins/autoComplete.js"></script>
    <script src="public/js/plugins/focus-visible-polyfill.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.0.1/dist/js/autoComplete.min.js"></script>-->
    <!--script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script-->
    <script src="public/js/plugins/choices.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/selectric.js"></script>
    <script src="public/js/plugins/inbnc.js"></script>
    <script src="public/js/plugins/data/obce.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/kraje.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/obory.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/firmy.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/profese.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/pcznalosti.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/benefity.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/dalsiznalosti.js"></script> <!-- remove in production -->
    <script src="public/js/plugins/data/jazyky.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/data/odpovedi.js"></script>  <!-- remove in production -->
    <script src="public/js/plugins/database.js"></script>    <!-- remove in production -->
    <script src="public/js/plugins/custom.js"></script>
    <script src="public/js/plugins/mobile-detect.js"></script>
{% block footerScripts %}{% endblock %}
<script src="public/js/template.js"></script>
</body>
</html>

