{% extends "layout/layout-back.twig" %}
{% block title %}Offer detail{% endblock %}
{% block body %}

    <div class="container">
        <div class="section py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ linkHomepage }}">Nabídky</a></li>
                    <li class="breadcrumb-item"aria-current="page"><a href="{{ linkHomepage }}">Úprava nabídky</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Náhled nabídky</li>
                </ol>
            </nav>

            <h1 class="bg-white h5 p-3 border-b mb-0 font-weight-bold"><faker-name-jobTitle/></h1>
            <div class="bg-white p-3 mb-3 mb-sm-4">
                <div class="icon-list">
                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-building"></span></div>
                        <div class="icon-list__info-col">Zaměstnavatel</div>
                        <div class="icon-list__text-col"><faker-company-companyName/></div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-location"></span></div>
                        <div class="icon-list__info-col">Místo pracoviště</div>
                        <div class="icon-list__text-col"><faker-address-streetAddress/>, <faker-address-city/></div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-money"></span></div>
                        <div class="icon-list__info-col">Plat</div>
                        <div class="icon-list__text-col">30 000 - 50 000 Kč</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-clock-check"></span></div>
                        <div class="icon-list__info-col">Pracovní poměr</div>
                        <div class="icon-list__text-col">Plný úvazek</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-student"></span></div>
                        <div class="icon-list__info-col">Vzdělání</div>
                        <div class="icon-list__text-col">Středoškolské</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-quote"></span></div>
                        <div class="icon-list__info-col">Jazykové znalosti</div>
                        <div class="icon-list__text-col">Čeština (výborná)</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-car"></span></div>
                        <div class="icon-list__info-col">Řidičské znalosti</div>
                        <div class="icon-list__text-col">Skupina B</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-computer"></span></div>
                        <div class="icon-list__info-col">Počítačové znalosti</div>
                        <div class="icon-list__text-col">Windows, MS Office</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-thumb-up"></span></div>
                        <div class="icon-list__info-col">Benefity</div>
                        <div class="icon-list__text-col"><faker-lorem-sentences/></div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-cursor-box"></span></div>
                        <div class="icon-list__info-col">Zařazeno</div>
                        <div class="icon-list__text-col">Administrativa</div>
                    </div>
                </div>
            </div>

            {% include "components/sectionTitle.twig" with {title: "Popis pozice"} %}
            <div class="bg-white p-3 mb-3 mb-sm-4 tinymce-content">
                <p>
                    <b>HLEDÁME ASISTENTA/ASISTENTKU VEDENÍ</b>  
                </p>
                <p>
                    Jsme daňoví a účetní poradci, firma založená absolventy oboru zdanění a daňové politiky. Specializujeme se na zdanění právnických osob – DPPO, DPH, transakce – akvizice, fúze a daňové spory.
                </p>
                <p>
                    <b>Koho hledáme?</b>
                </p>
                <p>
                    Hledáme kolegyni, nebo kolegu na administrativní podporu na hlavní i částečný úvazek (6-8 hodin denně).
                </p>
                <ul>
                    <li>Administrativní kancelářská činnost</li>                                                         
                    <li>Vyřizování každodenní agendy a emailů</li>
                    <li>Zpracovávání a příprava podkladů pro jednání, schůzky, projekty a fakturaci</li>
                    <li>Komunikace s tuzemskými i zahraničními klienty</li>
                    <li>Podpora daňových poradců - vedení úkolů, hlídání termínů, zpracování dat</li>
                    <li>Výpomoc při vedení účetnictví</li>
                </ul>
                <p>
                    <b>Co požadujeme:</b>
                </p>
                <ul>
                    <li>Znalost českého jazyka - rodilý mluvčí, znalost anglického jazyka, případně i německého jazyka</li>
                    <li>Pokročilou znalost MS Office</li>
                    <li>Systematičnost a pečlivost</li>
                    <li>Profesionální a příjemné vystupování, schopnost komunikace, asertivní jednání</li>
                    <li>Pozitivní myšlení a přístup k práci</li>
                    <li>Smysl pro práci v týmu</li>
                </ul>
                <p>
                    <b>Můžeme Vám nabídnout:</b>
                </p>
                <ul>
                    <li>Práci na hlavní či částečný úvazek</li>
                    <li>Možnost být součástí rostoucí poradenské společnosti/li>
                    <li>Velmi přátelské a příjemné pracovní prostředí na Senovážném náměstí v Praze</li>
                    <li>Profesionální a příjemné vystupování, schopnost komunikace, asertivní jednání</li>
                </ul>
                <p>
                    Zaujala Vás tato pozice?
                </p>
                <p>
                    Zasílejte nám prosím své stručné životopisy s uvedením své praxe, zájmů, úspěchů.
                </p>
                <p>
                    Tým EK Partners, s.r.o.
                </p>

            </div>

            {% include "components/contactModule.twig" %}

            <div class="bg-white p-3 mb-3 mb-sm-4 text-center">
                <a href="#" class="btn btn-success btn-bottom disabled">Odpovědět</a>
            </div>

            <div class="row mb-5">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0"><button type="button" class="btn btn-secondary w-100" disabled>
                        <svg class="svgicon svgicon--small svgicon--inline svgicon--textcolor mr-2" viewBox="0 0 20 20">
                        <path class="svgicon__path" d="M19.8,4.6c-0.1-0.1-0.2-0.3-0.3-0.4l0,0C19.4,4.1,19.3,4,19.1,4c-0.2-0.1-0.5-0.2-0.7-0.2H1.6C1.3,3.8,1.1,3.9,0.9,4
                              C0.6,4.1,0.4,4.3,0.2,4.6C0.1,4.9,0,5.1,0,5.4v9.2c0,0.9,0.7,1.6,1.6,1.6h16.8c0.9,0,1.6-0.7,1.6-1.6V5.4C20,5.1,19.9,4.9,19.8,4.6z
                              M18.1,4.7l-7.7,5.5c-0.2,0.2-0.6,0.2-0.8,0L1.9,4.7H18.1z M19.1,14.6c0,0.4-0.3,0.7-0.7,0.7H1.6c-0.4,0-0.7-0.3-0.7-0.7V5.4
                              C0.9,5.3,1,5.3,1,5.2L9,11c0.3,0.2,0.6,0.3,1,0.3c0.3,0,0.7-0.1,1-0.3l8-5.8c0,0.1,0.1,0.1,0.1,0.2V14.6z"/>
                        </svg>
                        Odeslat na email</button></div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0"><button type="button" class="btn btn-secondary w-100" disabled><span class="icon icon-download mr-2"></span>Stáhnout</button></div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0"><button type="button" class="btn btn-facebook w-100" disabled><span class="icon icon-facebook mr-2"></span>Sdílet na Facebooku</button></div>
                <div class="col-sm-6 col-lg-3 mb-0"><button type="button" class="btn btn-secondary w-100" disabled><span class="icon icon-star mr-2"></span>Uložit</button></div>
            </div>
        </div>
    </div>






{% endblock %}
