{% extends "layout/layout-back.twig" %}

{% block title %}Detail aktivní nabídky{% endblock %}
{% block body %}

	<div class="container">
		<div class="section py-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ linkHomepage }}">Nabídky</a></li>
					<li class="breadcrumb-item active" aria-current="page">Detail aktivní nabídky</li>
				</ol>
			</nav>
			<h1 class="bg-white h5 p-3 border-b mb-0 font-weight-bold"><faker-name-jobTitle/></h1>
			<div class="bg-white p-3 mb-3 mb-sm-4">
				<div class="icon-list">
					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-building"></span></div>
						<div class="icon-list__info-col">Zaměstnavatel</div>
						<div class="icon-list__text-col"><faker-company-companyName/></div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-location"></span></div>
						<div class="icon-list__info-col">Místo pracoviště</div>
						<div class="icon-list__text-col"><faker-address-streetAddress/>, <faker-address-city/></div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-money"></span></div>
						<div class="icon-list__info-col">Plat</div>
						<div class="icon-list__text-col">30 000 - 50 000,- Kč</div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-clock-check"></span></div>
						<div class="icon-list__info-col">Pracovní poměr</div>
						<div class="icon-list__text-col">Plný úvazek</div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-student"></span></div>
						<div class="icon-list__info-col">Vzdělání</div>
						<div class="icon-list__text-col">Středoškolské</div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-quote"></span></div>
						<div class="icon-list__info-col">Jazykové znalosti</div>
						<div class="icon-list__text-col">Čeština (výborná)</div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-car"></span></div>
						<div class="icon-list__info-col">Řidičské znalosti</div>
						<div class="icon-list__text-col">Skupina B</div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-computer"></span></div>
						<div class="icon-list__info-col">Počítačové znalosti</div>
						<div class="icon-list__text-col">Windows, MS Office</div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-thumb-up"></span></div>
						<div class="icon-list__info-col">Benefity</div>
						<div class="icon-list__text-col"><faker-lorem-sentences/></div>
					</div>

					<div class="icon-list__row">
						<div class="icon-list__icon-col"><span class="icon icon-cursor-box"></span></div>
						<div class="icon-list__info-col">Zařazeno</div>
						<div class="icon-list__text-col">Administrativa</div>
					</div>
				</div>
			</div>

			{% include "components/sectionTitle.twig" with {title: "Popis pozice"} %}
			<div class="bg-white p-3 mb-3 mb-sm-4">
				<h3 class="h6 mb-3">Kvalifikační požadavky</h3>
				{% for i in 0..9 %}
					<p><faker-lorem-sentence/></p>
				{% endfor %}
			</div>

			{% include "components/contactModule.twig" %}


			<div class="bg-white p-3 mb-3 mb-sm-4 text-center">
				<a href="#" class="btn btn-info btn-bottom mb-2 mr-sm-3"><span class="icon icon-arrow-up-point mr-2"></span> Zvýhodnit <span class="icon icon-arrow-up-point mL-2"></span></a>
				<span class="share-btn__wrapper">
					<a href="#" class="btn btn-facebook btn-bottom mb-2"><span class="icon icon-facebook mr-2"></span>Sdílet na Facebooku</a>
				</span>
			</div>

			<div class="row justify-content-center mb-5">
				<div class="col-md-4 col-lg-3 mb-3 mb-md-0">
					<button class="btn btn-secondary w-100">
						<span class="icon icon-cross mr-2"></span>
						Smazat
					</button>
				</div>
				<div class="col-md-4 col-lg-3 mb-3 mb-md-0">
					<button class="btn btn-secondary w-100">
						<span class="icon icon-toggle-off mr-2"></span>
						Ukončit inzerci
					</button>
				</div>
				<div class="col-md-4 col-lg-3">
					<button class="btn btn-success w-100">
						<span class="icon icon-edit mr-2"></span>
						Upravit
					</button>
				</div>
			</div>
		</div>
	</div>






{% endblock %}
