{% extends "layout/layout-back.twig" %}

{% block title %}Detail aktivní nabídky{% endblock %}
{% block body %}

    <div class="container">
        <div class="section py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ linkHomepage }}">Nabídky</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail aktivní nabídky</li>
                </ol>
            </nav>
            <h1 class="bg-white h5 p-3 border-b mb-0 font-weight-bold"><faker-name-jobTitle/></h1>
            <div class="bg-white p-3 mb-3 mb-sm-4">
                <div class="icon-list">
                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-building"></span></div>
                        <div class="icon-list__info-col">Zaměstnavatel</div>
                        <div class="icon-list__text-col"><faker-company-companyName/></div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-location"></span></div>
                        <div class="icon-list__info-col">Místo pracoviště</div>
                        <div class="icon-list__text-col"><faker-address-streetAddress/>, <faker-address-city/></div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-money"></span></div>
                        <div class="icon-list__info-col">Plat</div>
                        <div class="icon-list__text-col">30 000 - 50 000 Kč</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-clock-check"></span></div>
                        <div class="icon-list__info-col">Pracovní poměr</div>
                        <div class="icon-list__text-col">Plný úvazek</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-student"></span></div>
                        <div class="icon-list__info-col">Vzdělání</div>
                        <div class="icon-list__text-col">Středoškolské</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-quote"></span></div>
                        <div class="icon-list__info-col">Jazykové znalosti</div>
                        <div class="icon-list__text-col">Čeština (výborná)</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-car"></span></div>
                        <div class="icon-list__info-col">Řidičské znalosti</div>
                        <div class="icon-list__text-col">Skupina B</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-computer"></span></div>
                        <div class="icon-list__info-col">Počítačové znalosti</div>
                        <div class="icon-list__text-col">Windows, MS Office</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-thumb-up"></span></div>
                        <div class="icon-list__info-col">Benefity</div>
                        <div class="icon-list__text-col"><faker-lorem-sentences/></div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-cursor-box"></span></div>
                        <div class="icon-list__info-col">Zařazeno</div>
                        <div class="icon-list__text-col">Administrativa</div>
                    </div>
                </div>
            </div>

            {% include "components/sectionTitle.twig" with {title: "Popis pozice"} %}
            <div class="bg-white p-3 mb-3 mb-sm-4 tinymce-content">
                <p>
                    <b>HLEDÁME ASISTENTA/ASISTENTKU VEDENÍ</b>  
                </p>
                <p>
                    Jsme daňoví a účetní poradci, firma založená absolventy oboru zdanění a daňové politiky. Specializujeme se na zdanění právnických osob – DPPO, DPH, transakce – akvizice, fúze a daňové spory.
                </p>
                <p>
                    <b>Koho hledáme?</b>
                </p>
                <p>
                    Hledáme kolegyni, nebo kolegu na administrativní podporu na hlavní i částečný úvazek (6-8 hodin denně).
                </p>
                <ul>
                    <li>Administrativní kancelářská činnost</li>                                                         
                    <li>Vyřizování každodenní agendy a emailů</li>
                    <li>Zpracovávání a příprava podkladů pro jednání, schůzky, projekty a fakturaci</li>
                    <li>Komunikace s tuzemskými i zahraničními klienty</li>
                    <li>Podpora daňových poradců - vedení úkolů, hlídání termínů, zpracování dat</li>
                    <li>Výpomoc při vedení účetnictví</li>
                </ul>
                <p>
                    <b>Co požadujeme:</b>
                </p>
                <ul>
                    <li>Znalost českého jazyka - rodilý mluvčí, znalost anglického jazyka, případně i německého jazyka</li>
                    <li>Pokročilou znalost MS Office</li>
                    <li>Systematičnost a pečlivost</li>
                    <li>Profesionální a příjemné vystupování, schopnost komunikace, asertivní jednání</li>
                    <li>Pozitivní myšlení a přístup k práci</li>
                    <li>Smysl pro práci v týmu</li>
                </ul>
                <p>
                    <b>Můžeme Vám nabídnout:</b>
                </p>
                <ul>
                    <li>Práci na hlavní či částečný úvazek</li>
                    <li>Možnost být součástí rostoucí poradenské společnosti/li>
                    <li>Velmi přátelské a příjemné pracovní prostředí na Senovážném náměstí v Praze</li>
                    <li>Profesionální a příjemné vystupování, schopnost komunikace, asertivní jednání</li>
                </ul>
                <p>
                    Zaujala Vás tato pozice?
                </p>
                <p>
                    Zasílejte nám prosím své stručné životopisy s uvedením své praxe, zájmů, úspěchů.
                </p>
                <p>
                    Tým EK Partners, s.r.o.
                </p>

            </div>

            {% include "components/contactModule.twig" %}


            <div class="bg-white p-3 mb-3 mb-sm-4 text-center">
                <a href="#" class="btn btn-info btn-bottom mb-2 mr-sm-3"><svg class="svgicon svgicon--inline svgicon--textcolor svgicon--small mr-2" viewBox="0 0 20 20">
                    <polygon class="svgicon__path" points="5.3,9.4 9.5,3.9 9.5,18.4 10.5,18.4 10.5,3.9 14.7,9.4 15.5,8.8 10,1.6 4.5,8.8 "></polygon>
                    </svg> Zvýhodnit <svg class="svgicon svgicon--inline svgicon--textcolor svgicon--small ml-2" viewBox="0 0 20 20">
                    <polygon class="svgicon__path" points="5.3,9.4 9.5,3.9 9.5,18.4 10.5,18.4 10.5,3.9 14.7,9.4 15.5,8.8 10,1.6 4.5,8.8 "></polygon>
                    </svg></a>
                <span class="share-btn__wrapper">
                    <a href="#" class="btn btn-facebook btn-bottom mb-2"><span class="icon icon-facebook mr-2"></span>Sdílet na Facebooku</a>
                </span>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                    <button class="btn btn-secondary w-100">
                        <svg class="svgicon svgicon--small svgicon--inline svgicon--textcolor mr-2" viewBox="0 0 20 20">
                        <polygon class="svgicon__path" points="17.8,3.2 16.8,2.2 9.9,9 3.2,2.2 2.2,3.2 8.9,10 2.2,16.7 3.2,17.6 9.9,11 16.7,17.8 17.6,16.8 10.9,10 "/>
                        </svg>
                        Smazat
                    </button>
                </div>
                <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                    <button class="btn btn-secondary w-100">
                        <svg class="svgicon svgicon--inline svgicon--textcolor mr-2" viewBox="0 0 20 20" >
                        <path class="svgicon__path" d="M14.6,4.6H5.4C2.4,4.6,0,7,0,10s2.4,5.4,5.4,5.4h9.1c3,0,5.4-2.4,5.4-5.4S17.6,4.6,14.6,4.6z M14.6,13.1
                              c-1.7,0-3.1-1.4-3.1-3.1s1.4-3.1,3.1-3.1c1.7,0,3.1,1.4,3.1,3.1S16.3,13.1,14.6,13.1z"/>
                        </svg>
                        Ukončit inzerci
                    </button>
                </div>
                <div class="col-md-4 col-lg-3">
                    <button class="btn btn-success w-100">
                        <span class="icon icon-edit mr-2"></span>
                        Upravit
                    </button>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
