{% extends "layout/layout.twig" %}
{% block title %}Podmínky používání{% endblock %}
{% block body %}

	<div class="container">
		<div class="section py-3 mb-5">
			{% include "components/sectionTitle.twig"  with { title: "Podmínky používání", center: true}  %}
			<div class="bg-white p-3">
				{% for i in 0..8 %}
				<h5 class="text-gray-dark"><faker-lorem-words/></h5>
				<p><faker-lorem-paragraphs/></p>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
