{% extends "layout/layout.twig" %}
{% block title %}Souhlasy{% endblock %}
{% block body %}

    <div class="container">
        <div class="section py-3 mb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ linkMyAccount }}">Můj účet</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Souhlasy</li>
                </ol>
            </nav>
            {% for i in 0..2 %}
                <div class="bg-white p-3 {% if not loop.last %} border-b{% endif %}">
                    <div class="form-group mt-3">
                        <div class="checkbox">
                            <label class="checkbox__shadow-label "for="exampleCheck{{ i }}"></label>
                            <input class="checkbox__trigger" id="exampleCheck{{ i }}" type="checkbox">
                            <label class="checkbox__label" for="exampleCheck{{ i }}">
                                <faker-lorem-sentence/>
                                <faker-lorem-sentence/>
                                <faker-lorem-sentence/>
                                <faker-lorem-sentence/>
                            </label>
                            <a class="checkbox__link" href="#">
                                Zobrazit více
                            </a>
                            <label class="checkbox__substitute" for="defaultCheck2">
                                <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                </svg>
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
