{% extends "layout/layout.twig" %}
{% block title %}Nabídky{% endblock %}
{% block body %}
	{% include "components/searchBox.twig" %}

	<div class="container">
		<div class="section py-3">
			<div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-between">
				<strong class="d-block mb-4">Našli jsme 256 389 nabídek</strong>
			</div>

		{% include "lists/offersList.twig" with {hotOfferTop: true} %}
		</div>
		{% include "components/pagination.twig" %}
	</div>



{% endblock %}
