{% extends "layout/layout.twig" %}
{% block title %}Nabídky{% endblock %}
{% block body %}
    {% include "components/searchBox-2.twig" %}

    <div class="container">
        <div class="section py-3">
            <div class="d-flex flex-column align-items-lg-center flex-lg-row justify-content-sm-between">
                <strong class="d-block mb-3">Našli jsme 256 389 nabídek</strong>

                <div class="btn-radio__group">
                    <label class="radio-button radio-button--small border-r bg-white">
                        <input class="radio-button__trigger" id="jobs1" type="radio" name="type" value="option1" checked>
                        <div class="radio-button__content">
                            <span class="radio-button__color">Vše</span>
                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                    <label class="radio-button radio-button--small bg-white">
                        <input class="radio-button__trigger" id="jobs1" type="radio" name="type" value="option1" checked>
                        <div class="radio-button__content">
                            <span class="radio-button__color">Nové</span>
                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                </div>

            </div>

            {% include "lists/offersList.twig" with {hotOfferTop: true} %}
        </div>
        {% include "components/pagination.twig" %}
    </div>



{% endblock %}
