{% extends "layout/layout.twig" %}
{% block title %}Offer detail{% endblock %}
{% block body %}

    <div class="container">
        <div class="section py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ linkHomepage }}">Nabídky</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail nabídky</li>
                </ol>
            </nav>

            <h1 class="bg-white h5 p-3 border-b mb-0 font-weight-bold">
                <faker-name-jobTitle/>
            </h1>

            <div class="bg-white p-3 mb-3 mb-sm-4">

                <div class="icon-list">
                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-building"></span></div>
                        <div class="icon-list__info-col">Zaměstnavatel</div>
                        <div class="icon-list__text-col">
                            <faker-company-companyName/>
                        </div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-location"></span></div>
                        <div class="icon-list__info-col">Místo pracoviště</div>
                        <div class="icon-list__text-col">
                            <faker-address-streetAddress/>
                            ,
                            <faker-address-city/>
                        </div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-money"></span></div>
                        <div class="icon-list__info-col">Plat</div>
                        <div class="icon-list__text-col">30 000 - 50 000,- Kč</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-clock-check"></span></div>
                        <div class="icon-list__info-col">Pracovní poměr</div>
                        <div class="icon-list__text-col">Plný úvazek</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-student"></span></div>
                        <div class="icon-list__info-col">Vzdělání</div>
                        <div class="icon-list__text-col">Středoškolské</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-quote"></span></div>
                        <div class="icon-list__info-col">Jazykové znalosti</div>
                        <div class="icon-list__text-col">Čeština (výborná)</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-car"></span></div>
                        <div class="icon-list__info-col">Řidičské znalosti</div>
                        <div class="icon-list__text-col">Skupina B</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-computer"></span></div>
                        <div class="icon-list__info-col">Počítačové znalosti</div>
                        <div class="icon-list__text-col">Windows, MS Office</div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-thumb-up"></span></div>
                        <div class="icon-list__info-col">Benefity</div>
                        <div class="icon-list__text-col">
                            <faker-lorem-sentences/>
                        </div>
                    </div>

                    <div class="icon-list__row">
                        <div class="icon-list__icon-col"><span class="icon icon-cursor-box"></span></div>
                        <div class="icon-list__info-col">Zařazeno</div>
                        <div class="icon-list__text-col">Administrativa</div>
                    </div>
                </div>

            </div>

            {% include "components/sectionTitle.twig" with {title: "Popis pozice"} %}
            <div class="bg-white p-3 mb-3 mb-sm-4 tinymce-content">
                <p>
                    <b>HLEDÁME ASISTENTA/ASISTENTKU VEDENÍ</b>  
                </p>
                <p>
                    Jsme daňoví a účetní poradci, firma založená absolventy oboru zdanění a daňové politiky. Specializujeme se na zdanění právnických osob – DPPO, DPH, transakce – akvizice, fúze a daňové spory.
                </p>
                <p>
                    <b>Koho hledáme?</b>
                </p>
                <p>
                    Hledáme kolegyni, nebo kolegu na administrativní podporu na hlavní i částečný úvazek (6-8 hodin denně).
                </p>
                <ul>
                    <li>Administrativní kancelářská činnost</li>                                                         
                    <li>Vyřizování každodenní agendy a emailů</li>
                    <li>Zpracovávání a příprava podkladů pro jednání, schůzky, projekty a fakturaci</li>
                    <li>Komunikace s tuzemskými i zahraničními klienty</li>
                    <li>Podpora daňových poradců - vedení úkolů, hlídání termínů, zpracování dat</li>
                    <li>Výpomoc při vedení účetnictví</li>
                </ul>
                <p>
                    <b>Co požadujeme:</b>
                </p>
                <ul>
                    <li>Znalost českého jazyka - rodilý mluvčí, znalost anglického jazyka, případně i německého jazyka</li>
                    <li>Pokročilou znalost MS Office</li>
                    <li>Systematičnost a pečlivost</li>
                    <li>Profesionální a příjemné vystupování, schopnost komunikace, asertivní jednání</li>
                    <li>Pozitivní myšlení a přístup k práci</li>
                    <li>Smysl pro práci v týmu</li>
                </ul>
                <p>
                    <b>Můžeme Vám nabídnout:</b>
                </p>
                <ul>
                    <li>Práci na hlavní či částečný úvazek</li>
                    <li>Možnost být součástí rostoucí poradenské společnosti/li>
                    <li>Velmi přátelské a příjemné pracovní prostředí na Senovážném náměstí v Praze</li>
                    <li>Profesionální a příjemné vystupování, schopnost komunikace, asertivní jednání</li>
                </ul>
                <p>
                    Zaujala Vás tato pozice?
                </p>
                <p>
                    Zasílejte nám prosím své stručné životopisy s uvedením své praxe, zájmů, úspěchů.
                </p>
                <p>
                    Tým EK Partners, s.r.o.
                </p>

            </div>

            {% include "components/contactModule.twig" %}

            <div class="bg-white p-3 mb-3 mb-sm-4 text-center">
                <a href="#" class="btn btn-success btn-bottom">Odpovědět</a>
            </div>

            <div class="row mb-5">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                    <button type="button" class="btn btn-secondary w-100"><span class="icon icon-envelope mr-2"></span>Odeslat na
                        email
                    </button>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                    <button type="button" class="btn btn-secondary w-100"><span class="icon icon-download mr-2"></span>Stáhnout
                    </button>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                    <button type="button" class="btn btn-facebook w-100"><span class="icon icon-facebook mr-2"></span>Sdílet na
                        Facebooku
                    </button>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <button type="button" class="btn btn-secondary w-100"><span class="icon icon-star mr-2"></span>Uložit</button>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
