{% extends "layout/layout.twig" %}
{% block title %}Zapomenuté heslo{% endblock %}
{% block body %}

	<div class="container">
		<div class="section py-3 mb-5">
			{% include "components/sectionTitle.twig"  with { title: "Zapomenuté heslo", center: true}  %}
			<div class="bg-white p-3 py-sm-5">
				<div class="row justify-content-center">
					<div class="col-sm-10 col-md-8 col-lg-6">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1" class="form-label">Váš přihlašovací e-mail*</label>
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
							</div>
							<div>
								<a href="#" class="btn btn-success w-100">Pokračovat</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
