{% extends "layout/layout.twig" %}
{% block title %}Registrace{% endblock %}
{% block body %}

    <div class="container">
        <div class="section py-3 mb-sm-5">


            {% include "components/sectionTitle.twig"  with { title: "Registrace", center: true}  %}

            <div class="bg-white p-3 py-sm-5">

                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-8 col-lg-6">
                        <form>
                            <div class="d-sm-flex justify-content-center">
                                <div class="form-check pl-0 mr-sm-4">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Registrace uchazeče
                                    </label>
                                </div>
                                <div class="form-check pl-0 ">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Registrace firmy
                                    </label>
                                </div>
                            </div>
                            <hr>

                            <fieldset>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label">Váš e-mail*</label>
                                    <input type="email" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            </fieldset>

                            <div class="form-group mb-3">
                                <div class="checkbox">
                                    <label class="checkbox__shadow-label "for="defaultCheck"></label>
                                    <input class="checkbox__trigger" id="defaultCheck" type="checkbox">
                                    <label class="checkbox__label" for="defaultCheck">
                                        Souhlasím s
                                    </label>
                                    <a class="checkbox__link" href="#">
                                        podmínkami používání
                                    </a>
                                    <label class="checkbox__label" for="defaultCheck">
                                        portálů ActiUnit s.r.o.
                                    </label>
                                    <label class="checkbox__substitute" for="defaultCheck">
                                        <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                        <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                        </svg>
                                    </label>
                                </div>
                            </div>



                            <a href="{{ linkAccount }}" class="btn btn-success w-100">Registrovat</a>

                            <p class="text-center my-3">
                                nebo se přihlaste
                            </p>

                            <a href="{{ linkAccount }}" class="btn btn-primary w-100">Příhlásit se</a>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
