{% extends "layout/layout-lite.twig" %}
{% block title %}Registrace společnosti 2{% endblock %}
{% block body %}

	<div class="container">
		<div class="section py-3 text-center">
			<div class="bg-white p-3 py-sm-5 border-b">
				<div class="row justify-content-center">
					<div class="col-sm-10 col-md-8 col-lg-6">
							<p class="text-danger">Společnost s tímto identifikačním číslem nebyla nalezena!</p>
							<p class="text-success">IČ 111 222 333</p>

					</div>
				</div>
			</div>
			<div class="bg-white p-3 py-sm-5 border-b">
				<div class="row justify-content-center">
					<div class="col-sm-10 col-md-8 col-lg-6">
						<p class="font-weight-bold">Udělali jste chybu v zadání IČ?</p>
						<a href="{{ linkRegistrationCompany }}" class="btn btn-success w-100">Zadat znovu</a>
					</div>
				</div>
			</div>
			<div class="bg-white p-3 py-sm-5 ">
				<div class="row justify-content-center">
					<div class="col-sm-10 col-md-8 col-lg-6">
						<p class="font-weight-bold">Jedná se o Vaší společnost</p>
						<p>1) Zkontrolujte jestli už někdo z Vaší společnosti nevytvořil účet na ActiJobs.cz</p>
						<p>2) Pokud nikdo z z Vaší společnosti nevytvořil účet na ActiJobs.cz, klikněte na tlačítko "Kontaktujte nás"</p>
						<a href="{{ linkRegistrationCompany3 }}" class="btn btn-primary w-100">Kontaktujte nás</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
