// Bootstrap rewrite variables

$link-hover-decoration: underline;
$brand-primary: #22528E;
$brand-text: #464a4c;
$brand-background: #f7f7f9;
$brand-primary-light: #cccccc;


$brand-info: #922176;
$brand-success: #009999;
$enable-rounded: false;
$breadcrumb-bg: none;
$breadcrumb-padding-x: 0;

$btn-secondary-color: $brand-primary;

$headings-font-weight:  600;
$font-family-base: 'Open Sans', sans-serif;

$headings-color: $brand-success;
/*$box-shadow: 2px 2px 5px gray;*/
$box-shadow: none;

$nav-link-hover-bg: $brand-success;
$nav-link-padding: 1em 1em;

$text-muted: #9e9e9e;

$breadcrumb-active-color: $brand-success;
$breadcrumb-padding-y: 0;

$badge-font-size: 1em;
$input-bg-disabled: #f7f7f9;

$pagination-active-bg: $brand-success;
$pagination-active-border: $brand-success;
$pagination-hover-bg: #f7f7f9;
$code-color: $brand-info;

$input-border-focus: $brand-success;

$zindex-modal-header-fixed: 100; 
$zindex-modal-footer-fixed: 100;


$modal-footer-border-width: 0;
// Icons

$icomoon-font-family: "actijobs-icons" !default;
$icomoon-font-path: "../icon-font" !default;

$icon-facebook: "\e93d";
$icon-phone: "\e93c";
$icon-power: "\e939";
$icon-id-card: "\e93a";
$icon-handshake: "\e93b";
$icon-toggle-on: "\e937";
$icon-toggle-off: "\e938";
$icon-megaphone: "\e907";
$icon-plus: "\e936";
$icon-agent: "\e900";
$icon-login: "\e901";
$icon-star: "\e902";
$icon-agent-fill: "\e903";
$icon-map-book: "\e904";
$icon-clock-history: "\e905";
$icon-earth: "\e906";
$icon-cross-circle-fill: "\e908";
$icon-user: "\e909";
$icon-question-mark-circle: "\e90a";
$icon-graph: "\e90b";
$icon-cart: "\e90c";
$icon-users: "\e90d";
$icon-document: "\e90e";
$icon-cross-circle: "\e90f";
$icon-lock: "\e910";
$icon-email: "\e911";
$icon-check-circle: "\e912";
$icon-envelope: "\e913";
$icon-eye: "\e914";
$icon-cursor-box: "\e915";
$icon-car: "\e916";
$icon-computer: "\e917";
$icon-quote: "\e918";
$icon-thumb-up: "\e919";
$icon-arrow-left-circle: "\e91a";
$icon-student: "\e91b";
$icon-finger-right: "\e91c";
$icon-clock-check: "\e91d";
$icon-money: "\e91e";
$icon-plus-circle: "\e91f";
$icon-chain: "\e920";
$icon-arrow-up-point: "\e921";
$icon-cross: "\e922";
$icon-check: "\e923";
$icon-edit: "\e924";
$icon-envelope-mail: "\e925";
$icon-download: "\e926";
$icon-arrow-down-point: "\e927";
$icon-arrow-up: "\e928";
$icon-arrow-right: "\e929";
$icon-arrow-left: "\e92a";
$icon-star-fill: "\e92b";
$icon-warning-circle-fill: "\e92c";
$icon-atom: "\e92d";
$icon-hot: "\e92e";
$icon-calendar: "\e92f";
$icon-search: "\e930";
$icon-bulp: "\e931";
$icon-calendar-check: "\e932";
$icon-diamond: "\e933";
$icon-location: "\e934";
$icon-building: "\e935";

